@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    background-color: rgb(247, 225, 225);
    min-height: 90vh;
    color: white;
    font-family: "Fira Code", monospace;
    font-weight: 400;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 1px;
    margin: 0;
    margin-bottom: 10px;
}

/* App body */
.App {
    margin-top: 10px;
    background-color: #1c2229;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 15px;
}

#content {
    margin-top: 60px;
}

/* Header Bar */

.headerbar {
    background-color: rgb(113, 113, 113);
    text-align: center;
    margin-left: -100px;
    width: 120%;
}

/* Line */

.lineContainer {
    margin-top: 50px;
    margin-left: 40px;
    width: 15px;
    position: absolute;
}

.lineNumbers p {
    margin: 2px 0 2px 0;
    font-size: 0.8em;
    color: grey;
}

/* Main about */


.mainTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle img {
    border-radius: 50%;
    width: 250px;
    height: 270px;
}

.mainTitle h1 {
    font-weight: 900;
}

.mainTitle h5 {
    color: rgb(228, 94, 94);
    font-weight: 800;
}

.mainTitle p {
    font-size: 1.3em;
    font-weight: 800;
}

/* Nav */


.navbar {
    position: absolute;
    height: 30px;
    display: flex;
    margin-left: 40px;
}

.header {
    background-color: #1c2229;
    color: grey;
    border: none;
    display: flex;
    align-items: center;
    min-width: 150px;
    font-size: 0.8em;
    min-height: 40px;
    font-weight: 700;
}

.header:focus {
    outline: none;
}


.filter-markdown {
    filter: invert(21%) sepia(75%) saturate(6615%) hue-rotate(224deg) brightness(98%) contrast(103%);
}

.header img {
    margin-right: 10px;
}

.htmlheader {
    width: 18px;
    height: 18px;
}

.activated {
    border-bottom: rgb(0, 128, 208) 3px solid;
    color: white;
}

/* Links Bar */

.linksBar {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    left: 10px;
    z-index: 1;
}

.icons {
    cursor: pointer;
    margin-bottom: 40px;
    color: grey;
    font-size: 2.3em;
}

.icons:hover {
    color: white;
}

.fa-copy {
    color: white;
}

/* Project Page */

#projectpage {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    padding: 5px;
}

.project {
    margin-top: 40px;
    padding: 5px;
    background-color: rgb(32, 32, 36);
}

#projectpage img {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1000px;
}

#projectpage h1 {
    font-weight: 900;
}

#projectpage h3 {
    color: gold;
    font-weight: 800;
}

#projectpage h4 {
    font-weight: 950;
}